<nav class="fundo navbar navbar-expand-lg sansserif">
  <i class="icon fa fa-heart"></i>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav margem-nav">
      <li class="nav-item active">
        <a class="nav-link color" [routerLink]="['/home']" routerLinkActive="router-link-active">Home <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link color" [routerLink]="['/historia']" routerLinkActive="router-link-active">Trexos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color" [routerLink]="['/fotos']" routerLinkActive="router-link-active">Fotos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color" [routerLink]="['/projetos']" routerLinkActive="router-link-active">Projetos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color" [routerLink]="['/recados']" routerLinkActive="router-link-active">Recados</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color" [routerLink]="['/musicas']" routerLinkActive="router-link-active">Musicas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color" [routerLink]="['/te-amo']" routerLinkActive="router-link-active">Te Amo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color" [routerLink]="['/mensagem']" routerLinkActive="router-link-active">Mensagem</a>
      </li>
    </ul>
  </div>
</nav>