<footer class="fundo">
    <div class="row">
        <ul class="list-unstyled margem sansserif">
            <li class="color">
                <a class="color" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
            </li>
            <li class="color">
                <a class="color" [routerLink]="['/historia']" routerLinkActive="router-link-active">Trexos</a>
            </li>
            <li class="color">
                <a class="color" [routerLink]="['/fotos']" routerLinkActive="router-link-active">Fotos</a>
            </li>
            <li class="color">
                <a class="color" [routerLink]="['/projetos']" routerLinkActive="router-link-active">Projetos</a>
            </li>
            <li class="color">
                <a class="color" [routerLink]="['/recados']" routerLinkActive="router-link-active">Recados</a>
            </li>
            <li class="color">
                <a class="color" [routerLink]="['/musicas']" routerLinkActive="router-link-active">Musicas</a>
            </li>
            <li class="color">
                <a class="color" [routerLink]="['/te-amo']" routerLinkActive="router-link-active">Te Amo</a>
            </li>
            <li class="color">
                <a class="color" [routerLink]="['/mensagem']" routerLinkActive="router-link-active">Mensagem</a>
            </li>
        </ul>
    </div>
</footer>