<div class="fundo">
    <div class="row">
        <div class="">
            <h3 class="titulo sansserif">Fotos com meu amor</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p class="sub-titulo sansserif">Não tiramos tantas fotos, mas as que tiramos nos trazem lembranças maravilhosas
                de cada segundo que vivemos juntos</p>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/IMG_0038.JPG" class="img">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/IMG_0585.JPG" class="img">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/IMG_1262.JPG" class="img">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/IMG_0601.JPG" class="img">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/IMG_2218.JPG" class="img">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/IMG_2017.JPG" class="img">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/cbb49d1e-2255-4872-bb02-ac6368577394.JPG" class="img">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/thumbnail_d80284f3-73fe-4f4c-9f10-77b70d44e236.jpg" class="img">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/fotos1.JPG" class="img">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/foto3.JPG" class="img">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/fotos2.JPG" class="img">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/fotos4.JPG" class="img">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/c18a8df4-0b0a-461f-b2f2-d436039390b3.JPG" class="img">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/711a8d6c-7b7a-4f33-8851-613c02241c8c.JPG" class="img">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/IMG_4281.JPG" class="img2">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/0095f910-3205-4c93-8c6c-ffe8b75f9b3a.JPG" class="img2">
            </div>
        </div>
    </div>
    <div>
        <button [routerLink]="['/projetos']" routerLinkActive="router-link-active" class="btn btn-secondary margem-bt"
            type="button">Proxima página</button>
    </div>
</div>