<div class="row">
    <div>
        <h3 class="col-md-11 titulo">Clique nesses botoes quando...</h3>
    </div>
</div>
<div class="row">
    <div>
        <p class="subtitulo">** Deixe um terminar antes de clicar no outro</p>
    </div>
</div>
<div class="row">
    <div class="col-md-10 margem">
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Dia do vestibular</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio2()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Desanimada</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio3()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Dia Ruim</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio4()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Sentir Saudade</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio5()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Te amo BB</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio6()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Quiser saber como eu to</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio7()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Tristinha</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio8()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Baixa Autoestima</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio9()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Conquistou algo</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio10()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Não querer treinar</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio11()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Eu morrer</button>

    </div>
</div>
<div>
    <button [routerLink]="['/musicas']" routerLinkActive="router-link-active" class="btn btn-secondary margem-bt ng-view" autoscroll="true" type="button">Proxima página</button>
</div>