<div class="row">
    <div>
        <h3 class="col=md-11 titulo">Quer ouvir eu cantando para você?? entao toma!</h3>
    </div>
</div>
<div class="row">
    <div>
        <p class="col-md-11 subtitulo">** Deixe um terminar antes de clicar no outro.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-10 margem">
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Amar não é pecado</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio2()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Billionaire</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio3()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Eu sei</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio4()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Dias de Luta</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio5()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Palacios e Castelos</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio6()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Te esperar</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio7()" data-toggle="modal"
            data-target=".bd-example-modal-lg">No balanço da rede</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio8()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Um beijo</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio9()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Me odeie</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio10()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Razões e Emoções</button>
        <button type="button" class="col-md-2 margem-audio btn btn-audio" (click)="playAudio11()" data-toggle="modal"
            data-target=".bd-example-modal-lg">Fada</button>

    </div>
</div>
<div class="row">
    <div>
        <p class="col-md-5 subtitulo">Essas vergonhas eu so passo por ti, mas vale a pena e muito</p>
    </div>
</div>
<div>
    <button [routerLink]="['/te-amo']" routerLinkActive="router-link-active" class="btn btn-secondary margem-bt ng-view" autoscroll="true" type="button">Proxima página</button>
</div>