<div class="row">
    <div class="">
        <h3 class="titulo sansserif">Nossos Projetos futuros de viagem</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4" *ngFor="let d of data">
        <div class="card margem shadow">
            <div class="card-body">
                <h4 class="card-title">{{d.str_local}}</h4>
                <p class="card-text">Data: {{d.str_data}}</p>
                <p class="card-text">Locais: {{d.str_locais}}<br /></p>
                <p class="card-text">Integrantes: {{d.str_integrantes}}<br /></p>
                <p class="card-text">Hotel: {{d.str_hotel}}<br /></p>
            </div>
        </div>
    </div>
</div>
<div>
    <button [routerLink]="['/recados']" routerLinkActive="router-link-active" class="btn btn-secondary margem-bt ng-view" autoscroll="true" type="button">Proxima página</button>
</div>