<div class="row">
    <div class="">
        <h3 class="titulo sansserif">Eu te amo</h3>
    </div>
</div>
<div class="margem col-md-7">
    <p class="texto sansserif">
        Bom, eu errei muito, fui um baita de um babaca contigo, me arrependo a cada segundo, a cada respiro. Eu queria
        poder consertar tudo entre a gente, sei que é dificil, mas eu vou me matar de tanto tentar. Eu vou provar que a
        gente pode dar certo ainda.
    </p>
    <p class="texto sansserif">
        A gente ta a 3 anos juntos, ja passamos por muitas coisa, muitas boas e muitas ruins. Desde aquela gincana em
        2016 eu sabia que tu era a mulher da minha vida, minha grande paixão, eu lutei muito pra te ter e quando parecia
        impossivel eu te ter, eu te conquistei.
    </p>
    <p class="texto sansserif">
        O dia mais feliz da minha vida foi dia 27/12/2017, quando dissesse sim para mim, foi quando tudo se acertou na
        minha vida e pela primeira vez na vida eu me senti 100% completo. E o mais triste é quando tu se vai, fica
        longe, podes achar que eu sou meio frio, não sinto tanta saudade como tu, mas não é assim que funciona, sei que
        as vezes eu so quero jogar um video game, ou não quero arranjar confusão com minha mae, não nego isso, mas tudo
        que eu mais quero na minha vida é ter você, é me casar contigo e realizar todos os nosso sonhos e objetivos,
        principalmente os presentes na aba Projetos.
    </p>
    <p class="texto sansserif">
        Eu errei e assumo, eu errei e to tentando melhorar, nada nunca está perdido pra sempre, nada é definitivo nessa
        vida, e meu jeito de ser um bosta tambem não é. Eu to fazendo de tudo que eu posso pra ser alguem melhor, pra na
        pior da hipoteses, tu nunca voltar pra mim, não teres me deixado em vão. Vais ter orgulho de mim algum dia, seja
        estando do meu lado ou não.
    </p>
    <p class="texto sansserif">
        Eu quero ser alguem diferente, quero te fazer feliz, eu sei que vais dizer que não tem conserto ou que nunca
        vais me perdoar, eu não quero tentar, pq se eu tentar tem chance de erro, eu quero conseguir e vou e eu vou
        conseguir.
    </p>
    <p class="texto sansserif">
        Não aguento vivier sem você, simplesmente não consigo, tudo sem ti é triste, vazio, sem sentido algum, podes
        dizer que é so dependencia, podes falar o que quiser mas eu não quero viver mais nem um dia sem você.
    </p>
    <p class="texto sansserif">
        Cada sorriso que dei contigo, cada lagrima que derramei por ti, cada abraço que demos, beijo que demos valeu a
        pena, não me arrependo de absolutamente nada a não ser de meus erros que geraram nossa atual situação. Sinto
        falta de ti, do teu beijo, de quando eu chegava na tua casa sexta a noite e tu me agarrava e não largava nem por
        decreto, quando tu pulava no meu colo e me segurava com as pernas, sinto falta até de tu brigando comigo pra eu
        acordar e levantar, brigando por eu não lavar a louça, zoando com a minha car por ter batido a cabeça em algum
        lugar e me chamndo de mongol. Eu sinto falta de tudo, tudo mesmo, nada sem ti é legal, ninguem nunca vai tomar o
        teu lugar. Eu sei que errei, sei que fui um babaca ta machuquei, fui egoista, egocentrico e um verdadeiro bosta,
        mas eu nao quero ser assim, eu não vou mais, sei tambem que ja falei isso, sei que nem tudo é simples mas tudo
        pode ser consertado, pode ser dificil mas não impossivel.
    </p>
    <p class="texto sansserif">
        Eu to disposto a tudo pra te ter de volta, eu não quero mais ninguem na minha vida que nao seja você, sei que tu
        ja ta seguindo tua vida, que ja tem um monte de caras atras de ti, provavelmente bem mais
        interessantes que eu, talvez ate ja ficasse com alguem, mas eu não me importo e nada vai fazer eu desistir de
        ti, nada mesmo, nem Deus me fará desistir de ti, se tu falar que quer o mundo eu te dou, se queres uma prova
        disso tudo que to falando eu tento arranjar, eu não quero voltar a ser quem eu era, mesmo que a gente volte eu
        não quero voltar a ser quem eu era.
    </p>
    <p class="texto sansserif">
        Eu imploro pelo teu perdão imploro pra que a gente volte, eu juro pra ti que vou fazer tudo diferente, to
        disposto a tudo, tudo que tu exigir no intuito de a gente dar certo eu acato, sem reclamar, eu te amo muito e
        vou ate o fim por ti.
    </p>
    <p class="texto sansserif">
        Eu te amo mais que tudo nesse mundo, ficar sem você, minha figurinha que completa o álbum da minha vida, é
        ganhar na loteria, ficar milionário e perder tudo no outro dia. Tu é meu bilhete premiado da mega sena, tu é
        deus na minha vida, tu realmente é o melhor presente que deus ja me deu, nada vai mudar isso e nada vai mudar
        meu sentimento. Por favor, me perdoa, eu te amo, eu so quero te fazer feliz.
    </p>
    <p class="texto sansserif">
        Será que da pra consertar aquele erro que eu cometi? Desculpe se eu te fiz chorar, minha intenção é só te fazer
        sorrir , eu preciso sofrer pra parar de ser besta.
    </p>
    <p class="texto sansserif">
        Eu te amo por favor me perdoa.
    </p>
    <p class="texto sansserif">
        Ass. Amor da sua vida.
    </p>
</div>
<div>
    <button [routerLink]="['/mensagem']" routerLinkActive="router-link-active" class="btn btn-secondary margem-bt"
        type="button">Proxima página</button>
</div>