<div class="fundo">
    <div class="row">
        <div class="">
            <h3 class="titulo sansserif">Santuario para meu amor</h3>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/IMG_1860.JPG" class="img">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/fundo-home.JPG" class="img">
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-5">
                <img src="assets/imagens/552d3b41-9954-4a94-a397-cf562d521a88.JPG" class="img2">
            </div>
            <div class="col-md-5">
                <img src="assets/imagens/IMG_1861.JPG" class="img3">
            </div>
        </div>
    </div>
    <div>
        <button [routerLink]="['/historia']" routerLinkActive="router-link-active" class="btn btn-secondary margem-bt ng-view" autoscroll="true" type="button">Proxima página</button>
    </div>
</div>