<div class="row">
    <div class="">
        <h3 class="titulo sansserif">Se um dia voce voltar</h3>
    </div>
</div>
<div class="margem col-md-7">
    <p class="texto sansserif">
        Eu prometo fazer tudo diferente, vou manter esse site atualizado e sempre no ar com todas as nossas fotos,
        nossas viagens e pretendo melhorar ele muito pra que a gente posssa guardar todas as nossas lembraças nele.
    </p>
    <p class="texto sansserif">
        A gente vai poder planejar as nossas viagens e nossos sonhos, poder manter todas as lembraças guardadas aqui com
        todo o carinho do mundo
    </p>
    <p class="texto sansserif">
        Mas se você nunca voltar obviamente eu vou entender, fiz um milhao de coisas erradas durante esses quase 3 anos
        de namoro, foi uma bola fora atras da outra, e tudo culpa minha, eu só tenho a agradecer por tudo que fizesses
        por mim, eu te amo muito indeendete do que aconteça, eu nunca vou deixar de te amar, muito menos desistir de
        ti,Obrigado por tudo que ja fizesse por mim, claramente voce foi a melhor coisa que ja aconteceu na minha vida,
        nunca vou me perdoar por tudo que te fiz, nunca vou me perdoar por te fazer derramar uma gota de lagrima sequer.
    </p>
    <p class="texto sansserif">
        Desculpa por tudo de coração, voce é meu mundo e nada é igual sem você, quero te ver feliz e espero estar do teu
        lado, mas se não for possivel eu entenderei.
    </p>
    <p  class="texto sansserif">
        Espero que pelo menos tu goste da surpresa, sei que não é muita coisa, mas é so o começo, eu juro.
    </p>
    <h3 class="texto-fn sansserif">
        EU TE AMO MUITO, MEU DENGO!
    </h3>
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <img src="assets/imagens/4fe3ce16-6166-47c7-8d00-5ea5f08f1ea3.JPG" class="img">
        </div>
    </div>
</div>
<div class="margem col-md-7">
    <p  class="texto sansserif">
        Saudades da gente assim brincando, se divertindo e se amando
    </p>
</div>